<div class="container">
  <!-- https://vida.io/gists/QtjstFdtyAhbi33wM -->
  <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    D3 Force Graph Editor
  </h1>
  <hr>
  <br>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="canvass">
                <svg  id="graphContainer"
                width="600px"
                height="600px"
                class="associations"
                #graphContainer>
                  <rect>
                      <text></text>
                  </rect>
                </svg>
            </div>
        </div>
        <div class="col-md-6">
            <div class="canvass">
                <svg  id="graphContainer2"
                width="600px"
                height="600px"
                class="associations"
                #graphContainer>
                  <rect>
                      <text></text>
                  </rect>
                </svg>
            </div>
        </div>
    </div>
    
  </div>
  
</div>

<!-- <svg  id="graphContainer"
      width="100%"
      height="100%"
      class="associations"
      #graphContainer>
</svg> -->
</div>



