<div class="container">
  <!-- https://vida.io/gists/QtjstFdtyAhbi33wM -->
  <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    D3 Force Graph Editor
  </h1>
  <hr>
  <br>
  <div class="container">
        <div class="col-md-6">
          <div class="inner">
            <div id="my_dataviz"></div>
              <div class="span4" id="LPUgraph">
                  <!-- <rect>
                      <text></text>
                  </rect> -->
              </div>
          </div>
        </div>
        <div class="col-md-6 inner">
          <div>
            <div id="heatmap-tooltip"></div>
            <svg  id="heat-map"
            width="900px"
            height="900px"
            class="associations"
            #graphContainer>
              <rect>
                  <text></text>
              </rect>
            </svg>
          </div>
        </div>
  </div>
</div>
</div>



