<div class="container">
  <!-- https://vida.io/gists/QtjstFdtyAhbi33wM -->
  <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    D3 Force Graph Editor
  </h1>
  <hr>
  <br>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="inner">
              <div id="my_dataviz"></div>
                    <app-bar-chart></app-bar-chart>
            </div>
          </div>
          <div class="col-md-6 inner">
            <!-- <div> -->
              <div id="heatmap-tooltip"></div>
              <app-heat-map></app-heat-map>
          </div>
    </div>
    <!-- new row -->
    <div class="row">
        <div class="col-md-6">
            <div class="inner">
              <app-scatter-plot></app-scatter-plot>
            </div>
        </div>
        <div class="col-md-6 inner">
          <h1>PIE CHART</h1>
          <form>
            <label><input type="radio" name="dataset" value="apples" checked> Apples</label>
            <label><input type="radio" name="dataset" value="oranges"> Oranges</label>
          </form>
          <div class="pie">
            <div id="pieChart"></div>
          </div>
        </div>
    </div>
    <!-- new row -->
    <div class="row">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6 inner">
            
        </div>
  </div>
  </div>
</div>
</div>



