::ng-deep svg {
    background-color: lightblue;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  ::ng-deep svg:not(.active):not(.ctrl) {
    cursor: crosshair;
  }
  
  ::ng-deep path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
  }
  
  ::ng-deep svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
  }
  
  ::ng-deep path.link.selected {
    stroke-dasharray: 10,2;
  }
  
  ::ng-deep path.link.dragline {
    pointer-events: none;
  }
  
  ::ng-deep path.link.hidden {
    stroke-width: 0;
  }
  
  ::ng-deep circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
  }
  
  ::ng-deep circle.node.reflexive {
    stroke: #000 !important;
    stroke-width: 2.5px;
  }
  
  ::ng-deep text {
    font: 12px sans-serif;
    pointer-events: none;
  }
  
  ::ng-deep text.id {
    text-anchor: middle;
    font-weight: bold;
  }

  .inner {
    /* position: relative; */
    width: 1200px;
    height: 700px;
    overflow: auto;
    margin-bottom: 30px;
  }
  .innerScatterPLot {
    /* position: relative; */
    width: 1200px;
    height: 1156px;
    overflow: auto;
    margin-bottom: 30px;
  }
  .scatterPlotDimension {
    width: 900px;
    height: 700px;
  }
  .translateThis {
    text-anchor: middle;
    position: relative;
    top: 56px;
    color: red;
    x: 131;
    y: -43;
  }


.hidden {
  display: none;
}

div.tooltip {
  background-color: #fff;
  padding: 7px;
  text-shadow: #f5f5f5 0 1px 0;
  font: 15px Helvetica Neue;
  border: 2.5px solid;
  border-color: black;
	border-radius: 3px;
  opacity: 0.95;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}